/*  your css code here. If applicable */
.main-container::before {
      content: "Before element";
      color: red;
    }

    .main-container::after {
      content: "After element";
      color: red;
    }